<?xml version="1.0"?>
<configuration>
	<system.webServer>
		<httpErrors errorMode="Detailed">
			<remove statusCode="400"/>
			<remove statusCode="401"/>
			<remove statusCode="403"/>
			<remove statusCode="404"/>
			<remove statusCode="500"/>
			<error statusCode="400" path="/error.asp?err=400" responseMode="ExecuteURL"/>
			<error statusCode="401" path="/error.asp?err=401" responseMode="ExecuteURL"/>
			<error statusCode="403" path="/error.asp?err=403" responseMode="ExecuteURL"/>
			<error statusCode="404" path="/error.asp?err=404" responseMode="ExecuteURL"/>
			<error statusCode="500" path="/error.asp?err=500" responseMode="ExecuteURL"/>
		</httpErrors>
		<staticContent>
			<mimeMap fileExtension=".mp4" mimeType="video/mp4"/>
			<mimeMap fileExtension=".m4v" mimeType="video/m4v"/>
			<mimeMap fileExtension=".ogg" mimeType="video/ogg"/>
			<mimeMap fileExtension=".ogv" mimeType="video/ogg"/>
			<mimeMap fileExtension=".webm" mimeType="video/webm"/>
			<mimeMap fileExtension=".oga" mimeType="audio/ogg"/>
			<mimeMap fileExtension=".spx" mimeType="audio/ogg"/>
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml"/>
			<mimeMap fileExtension=".svgz" mimeType="image/svg+xml"/>
			<remove fileExtension=".eot"/>
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject"/>
			<mimeMap fileExtension=".otf" mimeType="font/otf"/>
			<mimeMap fileExtension=".woff" mimeType="font/x-woff"/>
			<mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf"/>
		</staticContent>
<!--
		<rewrite>
			<rules>
				<rule name="bomaluno">
					<match url="^bomaluno$"/>
					<action type="Rewrite" url="\?p=desc&amp;i=pba"/>
				</rule>
				<rule name="voluntariado">
					<match url="^voluntariado$"/>
					<action type="Rewrite" url="\?p=desc&amp;i=pvt"/>
				</rule>
				<rule name="saibamais">
					<match url="^saibamais$"/>
					<action type="Rewrite" url="\?p=desc&amp;i=gal"/>
				</rule>
				<rule name="historia">
					<match url="^historia$"/>
					<action type="Rewrite" url="\?p=tline"/>
				</rule>
				<rule name="noticias">
					<match url="^noticias$"/>
					<action type="Rewrite" url="\?p=news"/>
				</rule>
				<rule name="propostas">
					<match url="^propostas$"/>
					<action type="Rewrite" url="\?p=prop"/>
				</rule>
				<rule name="contato">
					<match url="^contato$"/>
					<action type="Rewrite" url="\?p=contact"/>
				</rule>
				<rule name="ctbativo">
					<match url="^ctbativo$"/>
					<action type="Rewrite" url="\?p=cwb"/>
				</rule>
				<rule name="educacao">
					<match url="^educacao$"/>
					<action type="Rewrite" url="\?p=p-educa"/>
				</rule>
				<rule name="saude">
					<match url="^saude$"/>
					<action type="Rewrite" url="\?p=p-saude"/>
				</rule>
				<rule name="trabalho">
					<match url="^trabalho$"/>
					<action type="Rewrite" url="\?p=p-trab"/>
				</rule>
				<rule name="esporte">
					<match url="^esporte$"/>
					<action type="Rewrite" url="\?p=p-sport"/>
				</rule>
				<rule name="cultura">
					<match url="^cultura$"/>
					<action type="Rewrite" url="\?p=p-cultur"/>
				</rule>
				<rule name="seguranca">
					<match url="^seguranca$"/>
					<action type="Rewrite" url="\?p=p-segur"/>
				</rule>
				<rule name="gestaopublica">
					<match url="^gestaopublica$"/>
					<action type="Rewrite" url="\?p=p-gp"/>
				</rule>
				<rule name="tecnologia">
					<match url="^tecnologia$"/>
					<action type="Rewrite" url="\?p=p-tec"/>
				</rule>
				<rule name="mobilidade">
					<match url="^mobilidade$"/>
					<action type="Rewrite" url="\?p=p-mob"/>
				</rule>
        <rule name="turismo">
          <match url="^turismo$"/>
          <action type="Rewrite" url="\?p=p-tur"/>
        </rule>
        <rule name="Quem">
          <match url="^quem$"/>
          <action type="Rewrite" url="\?p=Who"/>
        </rule>
        <rule name="Depo">
          <match url="^depoimentos$"/>
          <action type="Rewrite" url="\?p=Depo"/>
        </rule>
        <rule name="Warriors">
          <match url="^Guerreiros$"/>
          <action type="Rewrite" url="\?p=warriors"/>
        </rule>
			</rules>
		</rewrite>
-->
	</system.webServer>
	<system.web>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>
